/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-mar-2017, 18.01.19
    Author     : andre
*/

header {
    background-color: #ff8000;/*#00b300;*/
    color: white;
    text-shadow: 2px 2px #000000;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-left: 15px;
    height: 50px;
}

.links {
    margin-top: 60px;
}

body {
    background-color: #24a866;/*#e6ffe6;*/
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

div{
    background-color: #e6ffe6;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

a:link{
    color: #00b300;
    font-size: 25px;
    text-decoration: none;
}

a:visited{
    color: #ff8000;
}

a:hover{
    font-weight: bold;
}

.login-form label:after{
    content: '\A';
    white-space: pre;
}

nav {
    text-align:center;
}

nav li{
    display:inline;
}

nav a{
    display:inline-block;
    padding:10px;
}

#content_bacheca{
    background-color: #24a866;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    position: absolute;
    right: 0px;
    width: 75%;
    margin-right: 8px;
    margin-top: 60px;
}

#sidebar_bacheca{
    position: absolute;
    left: 0px;
    width: 20%;
    margin-left: 8px;
    margin-top: 60px;
}

.people{
    content: "";
    background-size: 23px 20px;
    background-image: url("icone/icona_profilo.png");
    background-repeat: no-repeat;
    padding-left: 30px;
}